@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fraunces:wght@300&family=Yusei+Magic&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@500&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   /*box-shadow: inset -10px 0 35px rgb(33, 167, 15);*/
}

body{
   background-image: url("./imágenes/huellas.png");
   background-color: #f5f2f2de;
   
   overflow-x: hidden;
    
}

header {
   position: fixed;
   z-index: 1;
   height: 100px;
   width: 100vw; 
   box-shadow: 0px 0px 20px 0px rgb(228, 118, 118);
   background-color: #fff8f8;

}

.nav{
   display: flex;
   flex-direction: row;
   justify-content: stretch;
   width: 100%;

}

.botones-inicio {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   font-family: 'Fraunces', serif;
   width: 68%;
   font-size: 16px;
   font-weight: 400;
   margin: 25px 20px;
   padding: 10px 25px;

}

.usuario-select {
   font-family: 'Fraunces', serif;
   font-size: 16px;
   font-weight: 400;
   margin-right: 20px;

   color: #8844c0;
   background-color: #fff8f8;
   border: 6px solid transparent;
   border-color: #ffffff00 transparent transparent transparent;
}

.menu {
   margin-right: 30px;
   padding-bottom: 0px;
   padding-top: 6px;
   cursor: pointer;
   transition: 0.2s;
}

.sp-btn {
   padding-bottom: 0px;
   padding-top: 6px;
   margin-right: 0px;

}

.menu a:hover{
   color: #8844c0;
  
}

a {
   text-decoration: none;
   color: rgb(85, 44, 44);
}


.menu a:focus, .lista-redes a:focus{
   box-shadow: 0px 0px 7px #4b0187;
   color: #4b0187;
   border-radius: 30px;
   padding: 8px 10px;
   outline: 0;
}


.botonvioleta{
   background-color:#710d9f;;
   border-radius: 30px;
   font-weight: 400;
   padding: 8px 15px;
}
.botonvioleta:hover {
   background-color: rgb(184, 88, 178);
  
}


/* ASIDE */
.btn-aside{
   display: none;
   position: absolute;
   top: 10px;
   right: 19px;
   margin-bottom: 0;
   border-radius: 15px;
   cursor: pointer;
   color: white;

   background-color: #8844c000;
   padding: 8px 12px 7px;
   font-size: 1.1rem;
}

.icono-barras{
   position: fixed;
   margin-top: 2px;
   right: 17px;
   cursor: pointer;
   background-color: #148ca6d9;
   color: white;
   border-radius: 15px;
   font-size: 1.1rem;
}

.btn-aside:focus{
   background-color: #c0a1d736;  
   box-shadow: 0px 0px 7px #590a8a19;
   outline: 0;
}

.color-v{
   display: none;
   position: absolute;
   top: 8px;
   right: 8px;
   margin-bottom: 0;
   border-radius: 15px;
   cursor: pointer;
   color: #090111;
   background-color: #8844c000;
   padding: 8px 12px 7px;
   font-size: 1.1rem;
}
.color-v:focus{
   background-color: #f6f3f9;  
   box-shadow: 0px 0px 7px #590a8aa0;
   outline: 0;
}

/* SOLAPA */

.solapa-menu {
   display: flex;
   flex-direction: column;
   
}

.box-aside{
   
   display: none; /*flex*/
   flex-direction: column;
   background-color: rgb(109, 98, 119);
   background-image: url("./imágenes/huellas.png");

   padding: 20px 15px 20px 25px;
   overflow: auto;
   position: fixed;
   top: 0;
   right: 0;
   box-shadow: -10px 10px 100px 5px rgb(0 0 0 / 30%);
   z-index: 10;
}

.logoI-solapa {
   background-color: #beafc99f;  
   display: flex;
   flex-direction: row;
   text-align: center;
   font-family: 'Yusei Magic', sans-serif;
   font-size: 28px;
   padding: 65px 5px 25px;
  
   
}

#logoPat-solapa {
   font-size: 30px;
   color: #810a8a;
   background-color: rgb(255, 240, 240);
   border-radius: 50%;
   padding: 7px;
   margin-right: 8px;
}

.op-solapa{
   display: flex;
   flex-direction: column;
   text-align: center;
   font-family: 'Mukta Vaani', sans-serif;
   background-color: #beafc99f;  
   padding: 25px 10px 350px;
   font-size: 20px;
   font-weight: 400;
 
}

.usuario-select-solapa{
   font-family: 'Mukta Vaani', sans-serif;
   font-size: 20px;
   font-weight: 400;
   margin: 4px 25px 15px;
   color: rgb(244, 240, 240);

   text-align: center;
   background-color: #ffffff00;
   border: 6px solid transparent;
   border-color: #ffffff00 transparent transparent transparent;
}

.menu-solapa{
   padding-bottom: 0px;
   padding-top: 10px;
   cursor: pointer;
   transition: 0.2s;
   
}


.cap {
   font-family: 'Cinzel', serif;
   margin-top: 30px;
 
}

.academ{
   font-family: 'Fraunces', serif;
   font-size: 18px;
   padding-bottom: 8px;
  
}

.articulo .contenedor-texto, body footer {
   box-shadow: inset -10px 0px 35px #320453;

}


.portada {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 40px 0px;
   background-color: rgba(118, 56, 173, 0.924);

   /*background-color: #f5f2f2bc;*/
}


.intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 120px;
   margin-left: 20px;
   padding: 25px;
   border-radius: 20px;
   background-color: #c0a1d736;  
 
}


.img-intro{
   display: flex;
   flex-direction: column;
   justify-content:center;
   margin-top: 100px;
}


.img-portada {
   width: 568px;
   height: 370px;

}

.nosotros {
   font-family: 'Yusei Magic', sans-serif;
   font-size: 28px;
   color: rgb(53, 14, 88);
}


.logoI {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   width: 38%;
   font-family: 'Yusei Magic', sans-serif;
   font-size: 28px;
   padding: 15px;
  
}


.patitas{
   font-family: 'Yusei Magic', sans-serif;
   font-size: 45px;
   color: rgb(219, 184, 218);
   margin-bottom: 10px;


}


.font45 {
   font-size: 45px;
   font-weight: 900;
   padding-bottom: 15px;
   font-family: 'Cinzel', serif;
   color: #503162;
}


.titulo-medio {
   margin-top: 50px;
   padding-bottom: 5px;
   font-size: 40px;
   font-weight: 900;
   text-align: center;
   font-family: 'Cinzel', serif;
   color: #6c259b;


}


h3 {
   padding-bottom: 10px;
   font-family: 'Cinzel', serif;
}


.articulo {
 
   box-shadow: inset -10px 0px 35px #2d0453;
   /*background-color: #0A8A2C;*/
   background-color: #710d9f;
   color: #fff8f8;
 


}
.contenedor-texto{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-left: 200px;
   padding-right: 200px;
   padding-bottom: 10px;
   background-color: #f5f2f2b5;


}


.signo{
   font-weight: 900;
   font-size: 90px;
   padding-bottom: 20px;
   padding-top: 60px;
   margin-top: 40px;
   /*background-color: #0A8A2C;*/
   background-color: #710d9f;
   color: #fff8f8
}
.cita {
   /*background-color: #0A8A2C;*/
   background-color:#710d9f;
   color: #fff8f8;
   padding-bottom: 50px;
   text-align: center;
   margin: 15px 5px;
   font-family: 'Mukta Vaani', sans-serif;
   font-size: 20px;
}


.texto{
   text-align: center;
   margin: 15px;
   font-family: 'Mukta Vaani', sans-serif;
   font-size: 22px;
   color: #745e5e;
}


.blanco {
   color: rgb(246, 243, 239);
}

.servicios {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: #f4f2f5bc;
  
}


.pacientes {
   background-color: #f4f2f5bc;
   width: 100%;
   height: 100%;
}
.tutoriales {
   background-color: #f4f2f5bc;
   width: 100%;
   height: 100%;
}


.slider-container {
   display: flex;
   overflow-x: scroll;
   scroll-snap-type: x mandatory;
 }
 .slider-container img {


   height: 500px;
   width: 500px;
   object-fit:cover;
    scroll-snap-align: center;
 }


.grid {
   display: flex;
   flex-wrap: wrap;
   margin-top: 60px;
   padding-bottom: 60px;
   justify-content: center;

}

.serv {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   background-color: #f5efefde;
   margin: 10px;
   width: 340px;
   height: 420px;
   padding: 40px;
   border-radius: 10px;
/*  border: solid 1px rgb(72, 58, 58); */
 
}

.serv:hover {
  
   box-shadow: 0px 0px 7px rgb(196, 125, 125);
}


.inferior {
   padding: 45px 2px 5px;
   font-family: 'Yusei Magic', sans-serif;
   color: rgb(115, 43, 154);
 
  /* background-color: rgb(250, 235, 235); */
   background-color: #f5efefde;
  
}


.videos{
   padding: 30px;
   width:560px;
   height:315px;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;


}


.mapas {
   width:90%;
   height:100%;


   border-radius: 10px;
  
}


.caja-contacto{
   display: flex;
   justify-content: center;
   height: 100%;
   width: 100%;
   padding: 100px 50px;
   background-color: #f5f2f2bc;


}


.img-serv{
   width: 260px;
   height: 200px;
  /* background-color: rgb(250, 235, 235); */


  background-color: #f5efefde;
  border-radius: 10px;
   /*
   margin-bottom: 10px;
   padding: 5px 0px;
   */
}


.contacto {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 100px 10px;
   border: #caa8e2 solid 1px;
   border-radius: 3%;
   background-color: #fff8f8;

}

.contactame{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 80px 40px;
   margin-left: 25px;
   width: 50%;
   border-top-left-radius: 8%;
   border-bottom-left-radius: 8%;
  
}


.lista-redes{
   list-style: none;
   margin-top: 25px;
}


.lista-redes a:focus{
   box-shadow: 0px 0px 7px #5b0a8a;
   color: #590a8a;
   border-radius: 30px;
   padding: 10px 15px;
   outline: none;
}
.redes {
   line-height: 2.5;
}
.redes:hover {
   color: #520a8a;

}


#logoPat {
   font-size: 40px;
   color: #810a8a;
   background-color: rgb(255, 240, 240);
   border-radius: 50%;
   padding: 7px;
   margin-right: 10px;
  
}


.icono-redes{
   font-size: 18px;
   color: #5b0a8a;
   background-color: rgb(255, 240, 240);
   border-radius: 50%;
   padding: 7px;
   margin-right: 8px;


}
.icono-redes:hover {
   color: rgb(245, 232, 230);
   background-color: #590a8a;
   border-radius: 50%;
   border: #5d0a8a solid 1px;
   padding: 7px;
   margin-right: 8px;
}

.escribime {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 80px 40px;
   border-top-right-radius: 8%;
   border-bottom-right-radius: 8%;
   /*width: 500px;*/

}


input,
textarea {

    border-radius: 20px;
    background-color: #f6fff8;
    border: 1px solid #f6fff8;
    font-size: var(--text-sm);
    padding: 10px 15px;
    display: block;
    width: 100%;
    outline: none;
    transition: 0.2s;
}

input[type=time]{
    padding: 9.53px 15px;
   
}
input[type=date]{
    padding: 10.5px 15px;
}


.select{
    border-radius: 20px;
    background-color: #f6fff8;
    border: 1px solid #f6fff8;
    font-size: var(--text-sm);
    padding: 9.25px 15px;
    display: block;
    width: 100%;
    outline: none;
    transition: 0.2s;
}


input:focus,
textarea:focus, .select:focus, button:focus {
   box-shadow: 0px 0px 7px #590a8a;
   outline: 0;
}


.form-control {
   margin-bottom: 15px;
   flex-grow: 1;
   position: relative;
   margin-right: 15px;
}


.nombre-completo, .input-type {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
} 


label {
   margin-bottom: 10px;
   margin-left: 10px;
   display: block;
   font-weight: 500;
   font-size: 18px;
   margin-top: 5px;
   font-family: 'Yusei Magic', sans-serif;
}



button {
   border: 0;
   background-color:#620999;
   border-radius: 30px;
   color: rgb(245, 232, 230);
   font-weight: 200;
   font-family: 'Cinzel', serif;
   padding: 10px 25px;
   font-size: 20px;
   cursor: pointer;
   transition: 0.2s;
}


footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 60px;
   padding-bottom: 60px;
   color: rgb(255, 240, 240);
   background-color: #710d9f;
}
.span-f {
   margin-right: 15px;
   color: rgb(255, 240, 240);


}
.icono-final {
   color: #710d9f;
   background-color:rgb(255, 240, 240);
   border-radius: 50%;
   border: #710d9f solid 1px;
   padding: 15px;
   margin-right: 5px;


}
.icono-final:hover, #logoPat:hover{
   background-color:#710d9f;
   color: rgb(255, 240, 240);
   border: rgb(255, 240, 240) solid 1px;


}
#logoF {
       font-size: 18px;
       padding-right: 5px;
       color: #e020c3;
       margin-left: 5px;
       background-color: #710d9f;


}
.final {
   background-color: #710d9f;
   margin: 20px 41px;
}
.final span {
   background-color: #710d9f;
   font-family: 'Cinzel', serif;
}


@media screen and (min-width: 320px) and (max-width: 1024px){
   header {
       display: none;
       }
  
   p {
       font-size: 22px;
   }

   .btn-aside{
      display: block;
   }
   .color-v{
      display: block;
   }
   .box-aside {
      display:flex;
      width: 100%;
      height: 100%;
   }

   .portada {
       flex-direction: column;
       align-items: center;
       padding: 40px 20px;


   }
   .botonvioleta{
       font-weight: 150;
       padding: 8px 13px;
  
   }
  
   .intro {
       align-items: center;
       text-align: center;
       margin: 30px 0px 40px;
       padding: 15px 5px;
       width: 100%;
   }


   .img-intro{
       margin-top: 10px;
   }
  
   .img-portada {
       width: 75%;
       height: 80%;


   }


   .font45, .titulo-medio {
       margin-top: 30px;
       font-size: 26px;


   }


   .contenedor-texto {
       width: 100%;
       padding: 40px 20px;
   }


   .grid {
       padding: 15px 5px;
       margin: 28px 0px 40px;
   }


   .cita {
       margin: 15px 25px 15px 0px;
   }


   .serv {
       width: 310px;
       height: 400px;
       padding: 30px;
       margin: 6px;
   }


   .img-serv {
       width: 240px;
   }


   .videos{
       padding: 10px;
       width: 410px;
       height: 300px;
             
   }


   .caja-contacto {
       padding: 85px 0px;
   }


   .contacto {
       flex-direction: column;
       width: 100%;
       margin: 0px;
   }


   .contactame {
       border-top-right-radius: 8%;
       width: 100%;
       margin-left: 0px;
   }


   .escribime {
       margin-top: 0px;
       padding-top: 0px;
       border-bottom-left-radius: 8%;
       width: 100%;
   }

   .input-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

   .icono-final {
       margin-top: 8px;
   }
   .final {
     
       margin: 15px 45px;
   }
}




@media screen and (min-width: 1440px) and (max-width: 1900px){
  


   .inferior {
       padding: 30px 2px 5px;
      
   }


   .videos{
       padding: 10px;
       width: 410px;
       height: 300px;
             
   }


}


